*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	text-decoration: none;
}

body{
	background-color: #cecece;
	font-size:10pt;
	background-image: url(http://www.osmais.com/wallpapers/201206/cubos-pretos-azuis-wallpaper.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Questrial', sans-serif;
	color:white;
}

header{
	padding: 25px 0;
	text-align: center;
}

header h1{
	font-size: 1.4em;
	color: white;
}

.main{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.main div{
	text-align: center;
	padding: 20px 35px;
	border-radius: 15px; 
	transition: 1s;
	color: grey;
	background-color: white;
}

.main div:hover{
	transform: scale(1.2, 1.2);
}

.tags{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tags div{
	padding: 15px 25px;
	color: grey;
	background-color: white;
	border-radius: 10px;
	width: 400px;
	margin-top: 25px;
	height: auto;
	line-height: 17px;
	border: 1px solid black;
}

.tags div *{
	text-align: center;
}

.tags div h2{
	font-size: 14pt;
}

.tags div code{
	display: block;
}